html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Merriweather', serif;
  
}
.nav-item{
  padding-left: 20px;
  font-family: 'Orelega One', cursive;
  font-size: 20px;
}

.collapse{
  align-items: center;
  position: relative;
  background-color: #ffffff;
}
.gradient {
  background: rgb(0, 97, 242);
  background: linear-gradient(
    135deg,
    rgba(0, 97, 242, 1) 0%,
    rgba(105, 0, 199, 1) 100%
  );
}
.gradient1{
	background: linear-gradient(-45deg, #8a60fc, #9879bb, #484391, #9368f8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.page-header {
  margin-top: 20px;
  font-size: 1.25rem;
  color: #fff;
}
.page-header h3{
  font-size: 100px ;
}
.navbar {
   background: rgb(255, 255, 255);
   height: 60px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 40px !important;
}

.ythead{
  font-size: 40px;
  font-weight: lighter;
  
  
}
.card{
  box-shadow: 0px 10px 20px 0px rgb(68, 68, 68);
  border-radius: 20px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 padding: 5px;
}

/*media quries*/
/*Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card{

    height: 500;
    width: auto;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card{

    height: 500;
    width: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card{

    height: 500;
    width: auto;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card{

  height: 500;
  width: auto;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ytcards{
    height: 500;
    width: auto;
  }
}


/* owl nav */
.owl-prev span, .owl-next span {
	color: #FFF;
}

.owl-prev span:hover, 
.owl-next span:hover {
	color: #8199A3;
}

.owl-prev, .owl-next {
	position: absolute;
	top: 0;
	height: 100%;
}

.owl-prev {
	left: 7px;
}

.owl-next {
	right: 7px;
}

/* removing blue outline from buttons */
button:focus, button:active {
   outline: none;
}

.card-img-top{
  align-items: center;
  height: 50;
  width: 50;

}

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoYoutube:hover {
  background-color: #db5c07;
}
.social-network a.icoInstgram:hover {
  background-color: #ce2c0f;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}


.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
.social-network a.icoInstgram:hover i,
.social-network a.icoYoutube:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.social-circle li i {
  margin: 0;
  line-height: 40px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.a {
  background-color: #D3D3D3;
}

.css-3d-text {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-shadow: 0px 0px 0 rgb(228,228,228),
                 -1px 1px 0 rgb(222,222,222),
                 -2px 2px 0 rgb(215,215,215),
                 -3px 3px  0 rgb(208,208,208),
                 -4px 4px 3px rgba(0,0,0,0.78),
                 -4px 4px 1px rgba(0,0,0,0.5),
                 0px 0px 3px rgba(0,0,0,.2);
 }

.copyright {
  font-size: smaller;
  display:inline;
  color: #fff;
  text-align: center;
  padding: 2px;
  
}
.contact {
  color: #fff;
}
.contact ul {
  color: #fff;
  list-style-type: none;

}

/****************************************speakers css***************************/

body{
    padding-top: 50px;
    margin-top:20px;
}

.gradient2 {
  background: linear-gradient(90deg, #8a60fc, #9879bb, #474296, #9368f8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


.speaker-3d {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-family: Lucida Console;
  text-shadow: 0px 0px 0 rgb(245,245,245),
               0px 1px 0 rgb(234,234,234),
               0px 2px 0 rgb(224,224,224),
               0px 3px  0 rgb(214,214,214),
               0px 4px 3px rgba(0,0,0,0.87),
               0px 4px 1px rgba(0,0,0,0.5),
               0px 0px 3px rgba(0,0,0,.2);
}
.border-5, .border-w-5 {
    border-width: 5px !important;
}
.border-white {
    border: 1px solid transparent;
    border-color: #fff !important;
}
hr.hr-primary {
    border-top-color: #CC164D!important;
}
em {
    font-style: italic;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.py-7{
  color: #fff;
}



/******************************************teams css********************************************/

body{margin-top:20px;}

.team-list img {
  width: 50%;
}

.team-list .content {
  width: 50%;
}

.team-list .content .follow {
  position: absolute;
  bottom: 24px;
}

.team-list:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.team, .team-list {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team .content .title, .team-list .content .title {
  font-size: 18px;
}

.team .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .member-position, .team .team-social {
  position: absolute;
  bottom: -35px;
  right: 0;
  left: 0;
  margin: auto 10%;
  z-index: 99;
}

.team .team-social {
  bottom: 40px;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.team:hover .overlay {
  opacity: 0.6;
}

.team:hover .team-social {
  opacity: 1;
}

@media (max-width: 768px) {
  .team-list img,
  .team-list .content {
    width: 100%;
    float: none !important;
  }
  .team-list img .follow,
  .team-list .content .follow {
    position: relative;
    bottom: 0;
  }
}

.social-icon.social li a {
    color: #adb5bd;
    border-color: #adb5bd;
}
.social-icon li a {
    color: #35404e;
    border: 1px solid #35404e;
    display: inline-block;
    height: 32px;
    text-align: center;
    font-size: 15px;
    width: 32px;
    line-height: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}
.rounded {
    border-radius: 5px !important;
}

.para-desc {
    max-width: 600px;
}
.text-muted {
    color: #8492a6 !important;
}

.section-title .title {
    letter-spacing: 0.5px;
    font-size: 30px;
}

